<div class='container'>
    <div class='row jumbotron'>
        <h1>
            Welcome,
            <%= @user.email %>
        </h1>
    </div>

    <div class='row'>
        <h2>
            This is your page.
        </h2>
        <h2>
            Here, it's all about you
        </h2>
    </div>
</div>
