<div class='container'>
    <div class='row jumbotron'>
        <h1>
            Welcome,
            <%= current_user.email %>
        </h1>
    </div>

    <div class='container'>
        <h2>
            Your tasks:
        </h2>
    </div>
    <div class='container'>
        <h2>
            <% @items.each do |item| %>
            <p class='task-item'>
                <%= item.name %>
                <p>
                    <% end %>
                </h2>
            </div>
        </div>
